<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='GoPro.css') }}">
    <link rel="icon" href="data:,">
    <title>GoPro Dashboard</title>
</head>
<body>
    <div id="loading" style="display: none;">
        <div class="tenor-gif-embed" data-postid="21551405" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%">
            <a href="https://tenor.com/view/just-a-second-please-eric-cartman-south-park-s3e4-e304-gif-21551405">Just A Second Please Eric Cartman GIF</a>
        </div>
    </div>
    <div id="content">      
        <nav class="navbar bg-dark" style="display:flex">
            <img class="mx-auto" src="{{ url_for('static', filename='media/GoPro_Camera.jpg') }}" alt="">
            <div class="block-elem">
                <p class="header mx-auto" style="color:white; text-align: center;">GoPro Dashboard</p>
                <hr style="border: 2px solid white;">
                <p class="title mx-auto" style="color:white; text-align: center;">Shoot Pictures, Videos and much more</p>
            </div>
        </nav>
        <hr style="border: 2px solid black;">     
        {% block content %}
        {% endblock %}
        <hr style="border: 2px solid black;">
        <div class="flex-elem">            
            <div class="col">
                <a href="{{ url_for('downloadDelete') }}" class=" btn btn-success title" style="width: 100%;" onclick="loading();">
                    <div class="flex-elem">
                        <div class="flex-elem" style="margin-right: 25px;">
                            <i class="fa-solid fa-download title"></i>
                        </div>  
                        <div class="flex-elem">
                            <p class="title" style="text-align: center;">Download Media & Clear Memory</p>
                        </div> 
                    </div>                    
                </a>
            </div>
            <div class="col">
                <a href="{{ url_for('disconnect', gopro = gopro) }}" class=" btn btn-dark title" style="width: 100%;" onclick="loading();">
                    <div class="flex-elem">
                        <div class="flex-elem" style="margin-right: 25px;">
                            <i class="fa-solid fa-ban title"></i>
                        </div>  
                        <div class="flex-elem">
                            <p class="title" style="text-align: center;">Disconnect GoPro</p>
                        </div> 
                    </div>                    
                </a>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="https://kit.fontawesome.com/5f7866376d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='GoPro.js') }}"></script>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</footer>
</html>