{% extends '0_Navbar.html' %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        <div class="flex-elem" style="border: 3px solid black; margin: 10px; border-radius: 25px;">
            <div class="block-elem">
                <p class="header" style="text-align: center;">Photo</p>
                <hr style="border: 2px solid black;">
                <img class="mx-auto img-elem" src="{{ url_for('static', filename='media/Photo_Click.jpg') }}" alt="">
                <hr style="border: 2px solid black;">
                <div class="flex-elem" style="margin: 10px;">
                    <a href="{{ url_for('takePhoto', photoType='Photo') }}" class=" btn btn-primary title" style="border-radius: 15px;" onclick="loading();">Click Standard Photo</a>
                </div>
                <div class="flex-elem" style="margin: 10px;">
                    <a href="{{ url_for('takePhoto', photoType='Max Photo') }}" class=" btn btn-primary title" style="border-radius: 15px;" onclick="loading();">Click Wide Lens Photo</a>
                </div>
                <div class="flex-elem" style="margin: 10px;">
                    <a href="{{ url_for('takePhoto', photoType='Night Photo') }}" class=" btn btn-primary title" style="border-radius: 15px;" onclick="loading();">Click Night Mode Photo</a>
                </div>
            </div>                
        </div>
    </div>
    <!-- <div class="col-4">
        <div class="flex-elem" style="border: 3px solid black; margin: 10px; border-radius: 25px;">
            <div class="block-elem">
                <p class="header" style="text-align: center;">Timelapse</p>
                <hr style="border: 2px solid black;">
                <img class="mx-auto img-elem" src="{{ url_for('static', filename='media/Timelapse_Click.jpg') }}" alt="">
                <hr style="border: 2px solid black;">
                <div class="flex-elem" style="margin: 10px;">
                    <a href="" class=" btn btn-danger title" style="border-radius: 15px;" onclick="loading();">Capture Time Wrap</a>
                </div>
                <div class="flex-elem" style="margin: 10px;">
                    <a href="" class=" btn btn-danger title" style="border-radius: 15px;" onclick="loading();">Capture Time Lapse</a>
                </div>
                <div class="flex-elem" style="margin: 10px;">
                    <a href="" class=" btn btn-danger title" style="border-radius: 15px;" onclick="loading();">Capture Night Lapse</a>
                </div>
            </div>                
        </div>
    </div> -->
    <div class="col-12 col-md-6">
        <div class="flex-elem" style="border: 3px solid black; margin: 10px; border-radius: 25px;">
            <div class="block-elem">
                <p class="header" style="text-align: center;">Video</p>
                <hr style="border: 2px solid black;">
                <img class="mx-auto img-elem" src="{{ url_for('static', filename='media/Video.jpg') }}" alt="">
                <hr style="border: 2px solid black;">
                <div class="flex-elem" style="margin: 10px;">
                    <a href="{{ url_for('startVideo', videoType='Cinematic') }}" class=" btn btn-warning title" style="border-radius: 15px;" onclick="loading();">Cinematic Recording</a>
                </div>
                <div class="flex-elem" style="margin: 10px;">
                    <a href="{{ url_for('startVideo', videoType='Activity') }}" class=" btn btn-warning title" style="border-radius: 15px;" onclick="loading();">Activity Recording</a>
                </div>
                <div class="flex-elem" style="margin: 10px;">
                    <a href="{{ url_for('startVideo', videoType='Slow Motion') }}" class=" btn btn-warning title" style="border-radius: 15px;" onclick="loading();">Slow Motion Recording</a>
                </div>
            </div>                
        </div>
    </div>
</div>
{% endblock %}