{% extends '0_Navbar.html' %}
{% block content %}
<div class="block-elem">
    <div class="flex-elem" style="margin: 10px;">
        <a href="{{ url_for('stopVideo') }}" class=" btn btn-danger title" style="border-radius: 15px;">Stop Recording</a>
    </div>
    <div class="flex-elem">
        <div class="tenor-gif-embed" data-postid="20657746" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%">
            <a href="https://tenor.com/view/live-recording-neon-gif-20657746">Live Recording GIF</a>>
        </div>
    </div>    
</div>
{% endblock %}